.fotos {
    height: 605px;
    background-color: #3A4574;

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 68px;

    }

    &__descr {

        &-title {
            font-weight: bold;
            font-size: 48px;
            color: #FFFFFF;
            margin: 8px 0 0 0;

        }

        &-text {
            max-width: 500px;
            font-size: 16px;
            line-height: 32px;
            color: #FFFFFF;
        }
    }

    &__slider {
        margin-top: 34px;

        &-slide {
            width: 970px;
            & img {
                width: 100%;

            }
        }

    }

    &__arrows {
        display: flex;
        column-gap: 30px;
        cursor: pointer;
        margin-bottom: 17px;

        &-prev,
        &-next {

            &:hover svg path {
                stroke: #D3B47F;
                transition: all .3s;
            }
        }
    }
}